.blog-title{
    font-family: cursive;
    
}
.body{
    background-color: #333333;
}
#blue{
    color: white;
}
.header{
    color: white;
    background-color: darkkhaki;
}
.div1{
    color: cyan;
    background-color: brown;
}